@model IEnumerable<MusicProWeb.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
                <img src="@("~/image/"+item.Imagen)" asp-append-version="true" width="20px" height="20px" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Marca.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCat.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Categorias)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdProd }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdProd }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdProd })
            </td>
        </tr>
}
    </tbody>
</table>
