@model IEnumerable<MusicProWeb.Models.Producto>

@{
    ViewData["Title"] = "Index";
}


@*<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Listas</a></li>
    <li class="breadcrumb-item active">Productos</li>
</ol>

<div class="card">
    <h5 class="card-header">
        <i class="bi bi-mic me-1">Lista de productos </i>
    </h5>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success">Agregar Producto</button>

            </div>

        </div>*@

        <p>
            <a asp-action="Create">Agregar nuevo producto</a>
        </p>
        <table id="tabla" class="display cell-border" style="width: 100%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubCat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th></th>
            </tr>
        </table>

    </div>
</div>



<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubCat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagen)
                        <img src="@("~/image/"+item.Imagen)" asp-append-version="true" width="20px" height="20px" />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Marca.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCat.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria.Categorias)
                    </td>
                    <td>
                        @Html.ActionLink("Editar Producto", "Edit", new { id = item.IdProd }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdProd }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdProd })
                    </td>
                </tr>
            }
        </tbody>
    </table>

@*section scripts{
       <script>
           jQuery.ajax({
               url: '@Url.Action("","")'
           })
       </script>

    }
*@